@{
    ViewData["Title"] = "Home Page";
}

@section Head {
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Index-searchbar.css" asp-append-version="true" />
}

<!--body section start-->

<div class="row">
    <div class="col-12 position-relative">

        <div id='map' class="row flex-grow-1" style='height: 80vh;'></div>

        <div class="col-3 position-absolute top-0 start-0 mt-2 mx-2" style="z-index:1;">

            <form action="" method="post" class="search-form bg-white rounded-pill">
                <input type="search" class="search-input form-control rounded-pill" id="explorer-search" placeholder="Search Foursquare Places" autocomplete="off" />
                <button type="reset" class="clear-input-button" aria-label="Clear input" title="Clear input"><span aria-hidden="true">&times;</span></button>
                <button type="button" class="search-span" data-bs-toggle="collapse" data-bs-target="#side-panel" aria-expanded="false" aria-controls="side-panel"></button>

            </form>

            <div id="explorer-dropdown">
                <ul id="explorer-suggestions" class="list-group bg-white" style="overflow-y:scroll; max-height:60vh;"></ul>
                <div id="explorer-error" class="bg-white">
                    Something went wrong. Please refresh and try again.
                </div>
                <div id="explorer-not-found" class="bg-white"></div>
                <div class="bg-white">
                    <img src="https://files.readme.io/7835fdb-powerByFSQ.svg" alt="powered by foursquare" />
                </div>
            </div>
        </div>
        <div id="side-panel" class="col-4 position-absolute top-0 start-0 collapse">
            <div class="card card-body pt-4 me-3">
                <br />
                <h4>Resultados</h4>
            </div>
        </div>









    </div>
</div>

<!--body section end-->

@section Scripts {
    <script src="~/js/Home/Index.js" asp-append-version="true"></script>
    <script src="~/js/Home/Index-searchbar.js" asp-append-version="true"></script>
}
