
#marker {
    background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.mapboxgl-popup {
    width: 300px;
    max-width: 300px !important;
}
